.fds-layout-grid{
    max-width: 1600px;
    padding-left: 0;
    padding-right: 0;
}

.fmc-billboard__content{
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.header_home .header_main .fds-layout-grid{
    padding-bottom: 0;
}

.header_home .header_main .fds-layout-grid .header_flex{
    border: none;
}

.menu_small li{
    display: inline;
    position: relative;
    font-size: 12px;
}

.menu_small li:not(:last-child){
    padding-right: 20px;
    margin-right: 10px;
}

.menu_small li:not(:last-child):after{
    content: "|";
    position: absolute;
    right: 0;
}

.header_main__menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_main__menu li{
    margin: 0 12px;
    padding: 0 5px;
    display: inline;
}

.header_main__menu li a{
    font-size: 16px!important;
}

.fmc-type--bold{
    font-weight: bold!important;
}

.fmc-type--white{
    color: white!important;
}

.fmc-type--white:focus{
    outline-color: white!important;
}

.fmc-type--underline{
    text-decoration: underline!important;
}

.fmc-mx-auto{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header_main .header_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

.fds-layout-grid__inner_five{
    grid-template-columns: repeat(5, 1fr);
}

.fmc-dialog{
    z-index: 9;
}

.fmc-dialog .fmc-dialog__content{
    padding: 32px 40px;
}

.fmc-dialog .fmc-dialog__close{
    top: 40px;
    right: 40px;
}

.fmc-dialog__header{
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

.fmc-dialog ul li{
    list-style-type: none;
    padding-left: 30px;
}

.fmc-dialog ul li:before{
    content: "\2014   ";
}

.fmc-tabs__tablist{
    margin-left: 0;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    width: 100%;
}

.fmc-tabs__tablist .fmc-tabs__tab{
    border: none!important;
    outline: none!important;
    letter-spacing: 1px;
    padding-bottom: 16px;
}

.fmc-tabs__tablist .fmc-tabs__tab:after{
    display: none;
}

.fmc-tabs__tabpanel{
    width: 100%;
}

.fmc-marketing-toolkit-img{
    width: 220px;
    height: 200px;
    object-fit: contain;
}

.fmc-check label{
    margin: 0!important;
}

.fmc-check label:not(:last-child){
    margin-bottom: 6px!important;
}

.mobileHeader{
    display: none;
}

@media screen and (max-width: 768px){
    .fds-layout-grid__inner{
        display: block;
    }
    .header{
        min-height: calc(100vh - 110px);
        flex-direction: column-reverse;
        justify-content: space-between;
        display: none;
        overflow-y: auto;
        height: calc(100vh - 110px);
    }
    .header.header_mobile_open{
        display: flex;
    }
    .header.header_mobile_open .header__logo{
        display: none;
    }
    .header_main{
        margin-bottom: 200px;
        top: 0;
    }
    .header_flex{
        display: flex!important;
        justify-content: center!important;
    }
    .header_main__menu{
        flex-direction: column;
    }
    .header__user-area{
        text-align: center;
    }
    .header_top__menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header_top__menu li{
        padding: 0!important;
        margin: 0!important;
    }
    .header_top__menu li:after{
        display: none;
    }

    .mobileHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 110px;
    }
    .fds-layout-grid{
        padding-left: 15px;
        padding-right: 15px;
    }

    .fmc-tabs__tablist{
        display: flex;
        flex-direction: column;
    }
    .fmc-input, .fmc-select{
        margin-bottom: 12px;
    }
}